.breadcrumb {
    --breadcrumb-padding-x			: 0;
    --breadcrumb-padding-y			: 0;
    --breadcrumb-margin-bottom		: 1rem;
    --breadcrumb-font-size			: 85%;
    --breadcrumb-divider-color		: var(--secondary-color);
    --breadcrumb-item-padding-x		: 0.5rem;
    --breadcrumb-item-active-color	: var(--secondary-color);
    display			: flex;
    flex-wrap		: wrap;
    padding			: var(--breadcrumb-padding-y) var(--breadcrumb-padding-x);
    margin-bottom	: var(--breadcrumb-margin-bottom);
    font-size		: var(--breadcrumb-font-size);
    font-weight		: 700;
    list-style		: none;
	text-transform	: uppercase;
    background-color: var(--breadcrumb-bg);
    border-radius	: var(--breadcrumb-border-radius);

	&-item {
		& + .breadcrumb-item {
			padding-left: var(--breadcrumb-item-padding-x);

			&:before {
				content			: var(--breadcrumb-divider, "/");
				float			: left;
				padding-right	: var(--breadcrumb-item-padding-x);
				color			: var(--breadcrumb-divider-color);
			}
		}

		&.active {
			color: var(--breadcrumb-item-active-color);
		}

		a {
			text-decoration: none;
		}
	}
}
