// // // @import "@/scss/index.scss";

@import '~simplify-css-package/scss/simplify-css.scss';
// // @import '~simplify-css-package/dist/css/simplify-css.css';
// @import '@/scss/index.scss';

// Base & Layout
// @import "@/scss/basic";
// @import "./scss/grid";

// // Components (Button, Card, Navbar & more)
// @import "@/scss/button";
// @import "@/scss/card";

@import '@/scss/fonts';

:root {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}

	/** Fonts **/
	--body-font-family		: "Chakra Petch", sans-serif;
    --body-font-weight		: 400;
    --body-letter-spacing	: 0.046875rem;

	/** Border **/
    --border-width		: 1px;
    --border-style		: solid;
    --border-color		: rgba(0, 0, 0, 0.2);
    --border-radius		: 4px;
    --border-radius-sm	: 2px;
    --border-radius-lg	: 8px;
    --border-radius-xl	: 1rem;
    --border-radius-2xl	: 2rem;
    --border-radius-pill	: 50rem;

	/** Animations **/
	--animate-duration	: 1s;
    --animate-delay		: 1s;
    --animate-repeat	: 1;

	/** Loader **/
	--loader-bg			: var(--theme);
    --loader-bg-dark	: #114a39; // 20%
	--loader-bg-gradient: to left, var(--loader-bg), var(--loader-bg-dark);
}

[theme="light"] {
	/** Theme Color **/
    --theme			: #249d79;
    --theme-rgb		: 36,157,121;
    --inverse-rgb	: 0,0,0;

	/** Body **/
	--body-bg			: #FFFFFF;
	--body-bg-gradient	: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.99) 100%);

	--body-font-size	: 0.875rem;

	--body-bg-cover		: url('~@/assets/cover.jpg');
    --body-bg-image		: url('~@/assets/bg.png');
    --body-bg-image-size: 4.6875rem;

	/** Header **/
    --header-bg				: #FFFFFF;
    --header-link-color-rgb	: 0,0,0;
	--header-brand-img		: url('~@/assets/logo.png');

	/** Sidebar **/
    --sidebar-mobile-bg				: rgba(255, 255, 255, 0.98);
	--sidebar-menu-header-color 	: rgba(var(--inverse-rgb), 0.3);
	--sidebar-menu-link-color		: rgba(var(--inverse-rgb), 0.5);
    --sidebar-menu-link-hover-color	: #000000;
    --sidebar-menu-link-active-color: #000000

	--primary-text				: #025acc;
    --secondary-text			: #526872;
    --success-text				: #106e1b;
    --info-text					: #005d88;
    --warning-text				: #958b08;
    --danger-text				: #b30000;
    --light-text				: #526872;
    --dark-text					: #44555e;
    --primary-bg-subtle			: #cce3ff;
    --secondary-bg-subtle		: #c0cacf;
    --success-bg-subtle			: #d0e7d3;
    --info-bg-subtle			: #ccebf9;
    --warning-bg-subtle			: #fefacf;
    --danger-bg-subtle			: #f9cccc;
    --light-bg-subtle			: #e0e5e7;
    --dark-bg-subtle			: #798e98;
    --primary-border-subtle		: #9ac6ff;
    --secondary-border-subtle	: #a8b6bc;
    --success-border-subtle		: #a1d0a7;
    --info-border-subtle		: #99d7f4;
    --warning-border-subtle		: #fdf69e;
    --danger-border-subtle		: #f39999;
    --light-border-subtle		: #a8b6bc;
    --dark-border-subtle		: #617a86;
}

html {
    height			: 100%;
    background-color: var(--body-bg);
    background-image: var(--body-bg-gradient);

	&:before {
		content		: "";
		position	: fixed;
		top			: 0;
		left		: 0;
		right		: 0;
		height		: 100%;
		background	: var(--body-bg-gradient);
		z-index		: -5;
	}

	&:after {
		content					: "";
		position				: fixed;
		height					: 100%;
		top						: 0;
		left					: 0;
		right					: 0;
		background-color		: var(--body-bg);
		background-image		: var(--body-bg-gradient);
		background-image		: var(--body-bg-cover);
		background-repeat		: no-repeat;
		background-position		: center;
		background-attachment	: initial;
		background-size			: cover;
		transition				: background .2s linear;
		z-index					: -10;
	}
}

body {
    background		: 0 0;
    position		: relative;
    min-height		: 100vh;
    font-weight		: var(--body-font-weight);
    letter-spacing	: var(--body-letter-spacing);
    z-index			: 9999;
	font-style		: normal;
    font-weight		: 400;

	&:before {
		content					: "";
		position				: fixed;
		top						: 0;
		left					: 0;
		right					: 0;
		height					: 100%;
		background-attachment	: initial;
		background-color		: transparent;
		background-image		: var(--body-bg-image);
		background-size			: var(--body-bg-image-size);
		background-repeat		: repeat;
		background-attachment	: initial;
		z-index					: -5;
	}
}

a {
	color: var(--theme);
}

.application {
	padding-top: 3.25rem;
}

.text-theme {
	--text-opacity: 1;
	color: rgba(var(--theme-rgb),var(--text-opacity))!important;
}

.caret:before {
    content			: "\f22c";
    display			: inline-block;
    font-family		: bootstrap-icons !important;
    font-style		: normal;
    font-weight		: 400!important;
    font-variant	: normal;
    text-transform	: none;
    line-height		: 1;
    vertical-align	: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/****************** Main View */

.app-sidebar {
	position: fixed;
	width	: 16.875rem;
	top		: 3.25rem;
	left	: 0;
	bottom	: 0;
	z-index	: 1010;

	@media (max-width: 767.98px) {
		top			: 0;
		z-index		: 1030;
		left		: -16.875rem;
		background	: var(--sidebar-mobile-bg);
	}
}

.sidebar-mobile-open .app-sidebar {
	@media (max-width: 767.98px){
		left		: 0;
		animation	: SidebarMobileSlideInLeft .1s ease;
	}
}

.app-content {
    padding		: 2rem 2rem;
    flex		: 1;
    margin-left	: 16.875rem;
	@media (max-width: 767.98px) {
		padding		: 1rem 1rem;
		margin-left	: 0;
	}
}


